@section Test {
    <div>This is a sample section</div>
}
<html>
<head>
    <meta charset="utf-8">
    <title>Sample view</title>
</head>
<body>
@RenderSection("Test")
@RenderElement("test")
</body>
</html>

@helper RenderElement(string s)
{
    @:s
}